ag2[openai,gemini,anthropic,mistral,cerebras,groq]==0.10.1
# -e ../ag2[openai,gemini,anthropic,mistral,cerebras,groq] # for local fork of ag2 residing next to this repo
chess==1.11.2
matplotlib==3.10.0
cairosvg==2.7.1
moviepy==1.0.3
fastapi==0.115.11
uvicorn==0.34.0
tabulate
prettytable
scipy
pandas
ipykernel
requests
pytest
pytest-xdist