ag2[openai,gemini,anthropic,mistral,cerebras,groq]==0.9.7
# -e ../ag2[openai,gemini,anthropic] # for local fork of ag2 residing next to this repo, currently only 0.8.1 pass all LLM_Chess tests, backported into it Anthropic thinking. Clone https://github.com/maxim-saplin/ag2/tree/anthropic-thinking-v081
# openai==1.99.1
chess==1.11.2
matplotlib==3.10.0
cairosvg==2.7.1
moviepy==1.0.3
fastapi==0.115.11
uvicorn==0.34.0
tabulate
prettytable
scipy
pandas
ipykernel
requests
pytest
pytest-xdist