@font-face {
    font-family: 'Web IBM VGA 8x16';
    font-style: normal;
    font-weight: 400;
    src: url(web_ibm_vga_8x16.woff) format('woff');
}

@font-face {
    font-family: 'Chess';
    font-style: normal;
    font-weight: 400;
    /* src: url(segoe-w95-chess.woff) format('woff'); */
    src: url(DejavuSansMono.ttf) format('truetype');
}

:root {
    --global-button-width: 185px; /* Define the global variable */
}

body {
    background-color: #0000AA;
    color: #FFFFFF;
    font-family: "Web IBM VGA 8x16";
    text-align: center;
    margin: 0;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 1.2;
}

code {
    font-size: 20px;
    font-family: "Web IBM VGA 8x16";
    color: white;
}

div.center {
    width: 740px;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: greenyellow;
    text-decoration: none; 
}

.gh {
    color: yellowgreen;
}

.gh img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(100%);
}

h1 {
    margin-bottom: 20px;
}

p.intro {
    display: block;
    margin:auto;
    text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

button {
    width: var(--global-button-width);
    margin: 0 5px;
    padding: 5px;
    background-color: #C0C0C0;
    color: #000000;
    border: 1px solid #808080;
    font-family: "Web IBM VGA 8x16";
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

button::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

button.selected, .dropbtn.selected {
    background-color: green;
    color: #FFFFFF;
    top: 1px;
    left: 1px;
}

button:hover {
    background-color: #808080;
    color: #FFFFFF;
    top: 2px;
    left: 2px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    width: var(--global-button-width);
    margin: 0 5px;
    padding: 5px 0px 5px 0px;
    background-color: #C0C0C0;
    color: #000000;
    border: 1px solid #808080;
    font-family: "Web IBM VGA 8x16";
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.dropbtn .dropdown-arrow {
    font-size: 12px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.dropbtn::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C0C0C0;
    min-width: var(--global-button-width);
    box-shadow: 8px 8px #000000;
    z-index: 1;
    border: 1px solid #808080;
    margin-left: 5px;
    box-sizing: border-box;
}

.dropdown-content div {
    color: #000000;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-family: "Web IBM VGA 8x16";
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #808080;
    color: #FFFFFF;
}

.show {
    display: block;
}

.pane {
    text-align: left;
    color: lightgray;
}

pre.title {
    font-size: 16px;
    scale: 1.0;
    padding-top: 50px;
    color: greenyellow;
    font-weight: 900;
}

pre.snippet {
    font-family: "Web IBM VGA 8x16";
    text-align: left;
    color: greenyellow;
    overflow: auto;
}

pre.title-narrow {
    display: none;
}

.game {
    padding-bottom: 50px;
}

pre.board {
    font-family: 'Chess';
    font-size: 32px;
    width: 295px;
    height: 298px;
    background-color: black;
    text-align: justify;
    opacity: 0.85;
    line-height: 37px;
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
}

div.board::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

div.board {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    margin: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.game-over p {
    color: red;
    font-size: 40px;
    font-weight: bold;
    animation: blink 1s infinite;
}

.game-over span {
    text-align: left;
    display: inline-flex;
}

p, pre {
    color: lightgray;
}

.table-container {
    overflow-x: auto;
    padding: 0;
    padding-right: 8px;
}

table {
    margin-bottom: 40px;
    min-width: 720px;
    width: calc(100% - 8px);
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    table-layout: fixed;
}

td, th {
    padding: 10px 18px 10px 8px;
    font-weight: lighter;
    text-align: left;
}

th {
    cursor: pointer;
    height: 38px;
}

th:hover {
    cursor: pointer;
    color: yellowgreen;
}

tr:hover td{
    color: yellowgreen;
}

tr:hover td:nth-child(3), tr:hover td:nth-child(5) {
    color: darkgreen;
}

td {
    border-top: 1px solid;
    cursor: default;
    color: lightgray;
}

th:nth-child(3), td:nth-child(3), th:nth-child(5), td:nth-child(5),th:nth-child(7), td:nth-child(7) {
    background-color: lightgray;
    color: black;
    box-shadow: 8px 8px black;
}

/* Setting column widths */
th:nth-child(7),
td:nth-child(7),
th:nth-child(6),
td:nth-child(6),
th:nth-child(5),
td:nth-child(5),
th:nth-child(4),
td:nth-child(4),
th:nth-child(3),
td:nth-child(3) {
    width: 86px;
    overflow: hidden;
}

th:nth-child(1),
td:nth-child(1) {
    width: 10px;
    overflow: hidden;
}

table tbody tr:nth-last-child(-n+3) td {
    color: greenyellow !important;
    background-color: transparent;
    box-shadow: 0 0;
}

/* Add styles for fixed rows */
tr.fixed {
    background-color: #004477;
    border-top: 1px solid #00AAFF;
    border-bottom: 1px solid #00AAFF;
}

tr.fixed td {
    color: yellow;
}

tr.fixed td:first-child {
    color: gold; /* Star and rank number color */
}

tr.fixed td:nth-child(3), 
tr.fixed td:nth-child(5) {
    background-color: #005588;
    color: yellow;
}

.extended-table {
    margin-left: -70px;
    margin-right: -70px;
}

.pane strong {
    font-weight: normal;
    color: white;
}

.pane em {
    font-weight: normal;
    color: white;
}

#popup {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1000;
    box-shadow: 8px 8px black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

#popup p {
    margin: 0;
}

#popup span {
    color: white;
}

/* Matrix visualization styles */
.matrix-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#player-matrix {
    background-color: black;
    border: 1px solid #ddd;
    box-shadow: 8px 8px black;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    div.center {
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    p.intro {
        width: 100%;
    }

    div.board {
        scale: 0.9;
    }

    button {
        width: 140px;
        font-size: 18px;
    }

    pre.title {
        display: none;
    }

    pre.title-narrow {
        display: block;
        font-size: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        max-width: 325px;
        overflow-x: hidden;
        margin: auto;
        line-height: 1.3;
        color: greenyellow;
        font-weight: 900;
    }

    td, th {
        padding: 8px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container button {
        margin: 5px 0;
    }

    .matrix-container {
        width: 100%;
        overflow-x: auto;
    }

    #player-matrix {
        min-width: 680px;
    }
}