@font-face {
    font-family: 'Web IBM VGA 8x16';
    font-style: normal;
    font-weight: 400;
    src: url(web_ibm_vga_8x16.woff) format('woff');
}

@font-face {
    font-family: 'Chess';
    font-style: normal;
    font-weight: 400;
    /* src: url(segoe-w95-chess.woff) format('woff'); */
    src: url(DejavuSansMono.ttf) format('truetype');
}

body {
    background-color: #0000AA;
    color: #FFFFFF;
    font-family: "Web IBM VGA 8x16";
    text-align: center;
    margin: 0;
    font-size: 20px;
    overflow-y: scroll;
}

code {
    font-size: 20px;
    font-family: "Web IBM VGA 8x16";
    color: white;
}

div.center {
    width: 740px;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: greenyellow;
    text-decoration: none; 
}

.gh {
    color: yellowgreen;
}

.gh img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(100%);
}

h1 {
    margin-bottom: 20px;
}

p.intro {
    display: block;
    margin:auto;
    text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

button {
    width: 160px;
    margin: 0 5px;
    padding: 5px;
    background-color: #C0C0C0;
    color: #000000;
    border: 1px solid #808080;
    font-family: "Web IBM VGA 8x16";
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

button::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

button.selected {
    background-color: green;
    color: #FFFFFF;
    top: 1px;
    left: 1px;
}

button:hover {
    background-color: #808080;
    color: #FFFFFF;
    top: 2px;
    left: 2px;
}

.pane{
    text-align: left;
}

pre.title {
    font-size: 16px;
    scale: 1.0;
    padding-top: 50px;
    color: greenyellow;
}

pre.snippet {
    font-family: "Web IBM VGA 8x16";
    text-align: left;
    color: greenyellow;
    overflow: auto;
}

pre.title-narrow {
    display: none;
}

.game {
    padding-bottom: 50px;
}

pre.board {
    font-family: 'Chess';
    font-size: 32px;
    width: 295px;
    height: 298px;
    background-color: black;
    text-align: justify;
    opacity: 0.85;
    line-height: 37px;
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
}

div.board::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

div.board {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    margin: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: none;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.game-over p {
    color: red;
    font-size: 40px;
    font-weight: bold;
    animation: blink 1s infinite;
}

.game-over span {
    text-align: left;
    display: inline-flex;
}

p, pre {
    color: lightgray;
}

.table-container {
    overflow-x: auto;
    padding: 0;
}

table {
    margin-bottom: 40px;
    min-width: 720px;
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

td, th {
    padding: 10px;
    font-weight: lighter;
    text-align: left;
}

th {
    cursor: pointer;
}

th:hover {
    cursor: pointer;
    color: yellowgreen;
}

tr:hover td{
    color: yellowgreen;
}

tr:hover td:nth-child(even) {
    color: darkgreen;
}

td {
    border-top: 1px solid;
    cursor: default;
    color: lightgray;
}

th:nth-child(even), td:nth-child(even) {
    background-color: lightgray;
    color: black;
    box-shadow: 8px 8px;
}

table tbody tr:nth-last-child(-n+3) td {
    color: greenyellow !important;
    background-color: transparent;
    box-shadow: 0 0;
}

.descriptions {
    text-align: left;
    padding-top: 0;
}

.descriptions strong {
    font-weight: normal;
    color: white;
}

#popup {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

#popup p {
    margin: 0;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    div.center {
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    p.intro {
        width: 100%;
    }

    div.board {
        scale: 0.9;
    }

    button {
        width: 140px;
        font-size: 18px;
    }

    pre.title {
        display: none;
    }

    pre.title-narrow {
        display: block;
        font-size: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        max-width: 325px;
        overflow-x: hidden;
        margin: auto;
        line-height: 1.3;
        color: greenyellow;
    }

    td, th {
        padding: 8px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container button {
        margin: 5px 0;
    }
}